<main>
  <header class="h-18 px-4 py-3 mb-3 bg-slate-100 shadow-inner flex items-center">
    <h2 class="text-xl flex items-center">
      {{ data()?.name }}
    </h2>
    <div class="flex-1">
      <!-- TODO: TOTAL TIME -->
    </div>
    <div class="flex gap-3">
      <lib-button
        (click)="changeTab(WorkoutTab.Sets)"
        [variant]="activeTab() === WorkoutTab.Sets ? 'filled' : 'outlined'"
        >Sets</lib-button
      >
      <lib-button
        (click)="changeTab(WorkoutTab.Details)"
        [variant]="activeTab() === WorkoutTab.Details ? 'filled' : 'outlined'"
        >Details</lib-button
      >
      <lib-button
        (click)="changeTab(WorkoutTab.Preview)"
        [variant]="activeTab() === WorkoutTab.Preview ? 'filled' : 'outlined'"
        >Preview</lib-button
      >
    </div>
  </header>
  <section class="px-2">
    @switch (activeTab()) {
      @case (WorkoutTab.Sets) {
        <app-workout-builder-sets></app-workout-builder-sets>
      }
      @case (WorkoutTab.Details) {
        <app-workout-builder-details></app-workout-builder-details>
      }
    }
  </section>
</main>
