<form class="w-[80vw] md:w-[36rem]" [formGroup]="form">
  <div class="w-auto md:w-96 mx-auto">
    <app-input class="mb-3" name="name" formControlName="name" label="Name"></app-input>
    <app-input
      class="mb-3"
      type="textarea"
      name="description"
      formControlName="description"
      label="Description"></app-input>
    <app-tag-input formControlName="tags" class="mb-3"></app-tag-input>
    <div class="flex items-end gap-4 w-100 mb-5">
      <app-input
        class="flex-1"
        [formControl]="newVideoFormControl"
        name="video"
        label="New video URL"></app-input>
      <app-button (click)="addVideoToArray()" [disabled]="newVideoFormControl.invalid" variant="outlined"
        >Add</app-button
      >
    </div>
  </div>
  @if (form.get("videos")?.value; as videos) {
    @if (videos.length) {
      <div class="flex flex-wrap gap-3 w-100 mb-3">
        @for (url of videos; track $index) {
          <app-youtube-video [url]="url"></app-youtube-video>
        }
      </div>
    }
  }
  <div class="flex justify-end gap-4 w-100 mx-auto">
    <app-button color="secondary" (click)="close()">Cancel</app-button>
    <app-button [disabled]="form.invalid" [loading]="loading()" (click)="create()">Create</app-button>
  </div>
  <div></div>
</form>
