<main class="flex flex-col gap-2">
  <app-plan-new-navigation #navigation />
  <hr />
  <section class="py-2">
    @switch (navigation.currentTab()) {
      @case (PlanningTab.Group) {
        <app-plan-new-group-step />
      }
      @case (PlanningTab.User) {
        <app-plan-new-user-step />
      }
      @case (PlanningTab.WorkoutTemplate) {
        <app-plan-new-workout-template-step />
      }
      @case (PlanningTab.Adjustments) {
        <app-plan-new-adjustments-step />
      }
      @case (PlanningTab.Dates) {
        <app-plan-new-dates-step />
      }
    }
  </section>
  <hr />
  @if (!navigation.isLastTab()) {
    <lib-button (click)="navigation.next()">Next</lib-button>
  }
</main>
