<div class="flex flex-col gap-2 p-2">
  @if (!isEditMode()) {
    <div class="flex gap-4">
      <div>Description:</div>
      <div
        [ngClass]="{
          'text-gray-400 italic': !data()?.description,
          'text-gray-900': data()?.description
        }">
        {{ data()?.description || "No description" }}
      </div>
    </div>
  } @else {
    <form class="flex flex-col max-w-96" [formGroup]="form">
      <app-input formControlName="name" label="Name" class="mb-2"></app-input>
      <app-input formControlName="description" label="Description" type="textarea"></app-input>
    </form>
  }
  <div class="flex gap-2">
    @if (isEditMode()) {
      <app-button variant="outlined" (click)="toggleEditMode()">Cancel</app-button>
      <app-button (click)="saveChanges()" [disabled]="form.invalid || !form.dirty">Save</app-button>
    } @else {
      <app-button (click)="toggleEditMode()">Edit</app-button>
    }
  </div>
</div>
