<div class="flex flex-col">
  <div class="flex justify-between items-center h-6">
    <div class="text-lg">{{ index() + 1 }}. {{ setItem().details.name }}</div>
    <div class="flex gap-1">
      <app-button color="clean">
        <i class="fa-solid fa-pen text-slate-400 hover:text-yellow-600"></i>
      </app-button>
      <app-button color="clean">
        <i class="fa-solid fa-trash text-slate-400 hover:text-red-600"></i>
      </app-button>
    </div>
  </div>

  <div class="flex flex-col text-slate-600 mt-0.5">
    <div>
      @if (hasRepRange()) {
        {{ setItem().repMin }} - {{ setItem().repMax }}
      } @else {
        {{ setItem().repExact }}
      }
      x
      {{ setItem().repWeight }}{{ setItem().repType }}
    </div>
    <div>{{ setItem().rest ? setItem().rest + "s rest" : "No rest" }}</div>
    @if (setItem().details.description) {
      <div class="mt-1">
        {{ setItem().details.description }}
      </div>
    }
  </div>
</div>
