<app-layout-card class="flex items-center justify-center h-screen">
  <main class="w-64">
    <h1 class="text-2xl font-bold mb-6">Login</h1>
    <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-col w-90">
      <app-input
        label="Email"
        name="email"
        [autocomplete]="true"
        formControlName="email"
        type="email"></app-input>
      <app-input
        label="Password"
        name="password"
        [autocomplete]="true"
        formControlName="password"
        type="password"
        class="mb-4"></app-input>
      <div class="mb-6 text-right text-sm text-slate-500">
        Need an account? <a routerLink="/register">Register</a>
      </div>
      <app-button type="submit" class="self-end">Login</app-button>
    </form>
  </main>
</app-layout-card>
<input />
