<nav class="flex gap-2">
  <lib-button
    [disabled]="!visitedTabs()?.includes(PlanningTab.Group)"
    (click)="changeTab(PlanningTab.Group)"
    [variant]="currentTab() === PlanningTab.Group ? 'filled' : 'outlined'"
    >Group</lib-button
  >
  <lib-button
    [disabled]="!visitedTabs()?.includes(PlanningTab.User)"
    (click)="changeTab(PlanningTab.User)"
    [variant]="currentTab() === PlanningTab.User ? 'filled' : 'outlined'"
    >User</lib-button
  >
  <lib-button
    [disabled]="!visitedTabs()?.includes(PlanningTab.WorkoutTemplate)"
    (click)="changeTab(PlanningTab.WorkoutTemplate)"
    [variant]="currentTab() === PlanningTab.WorkoutTemplate ? 'filled' : 'outlined'"
    >Workout Template</lib-button
  >
  <lib-button
    [disabled]="!visitedTabs()?.includes(PlanningTab.Dates)"
    (click)="changeTab(PlanningTab.Dates)"
    [variant]="currentTab() === PlanningTab.Dates ? 'filled' : 'outlined'"
    >Dates</lib-button
  >
  <lib-button
    [disabled]="!visitedTabs()?.includes(PlanningTab.Adjustments)"
    (click)="changeTab(PlanningTab.Adjustments)"
    [variant]="currentTab() === PlanningTab.Adjustments ? 'filled' : 'outlined'"
    >Adjustments</lib-button
  >
</nav>
