<lib-drawer-container #drawerContainer>
  <lib-table [data]="data()!" (rowClick)="toggleDrawer($event.row)" [cardBreakpoint]="'sm'">
    <ng-template libTableColumn headerDef="Name" let-row>
      {{ row.name }}
    </ng-template>

    <ng-template libTableColumn headerDef="Description" let-row>
      {{ row.description }}
    </ng-template>

    <ng-template libTableColumn headerDef="Tags" let-row>
      @for (tag of row.tags; track $index) {
        <span class="px-2 py-0.5 bg-slate-300 rounded-lg">{{ tag }}</span>
      }
    </ng-template>

    <ng-template libTableColumn headerDef="Videos" let-row>
      {{ row.videos?.length }}
    </ng-template>
  </lib-table>

  <ng-template libDrawer>
    <app-exercise-details-drawer [drawerData]="drawerData()" (closeDrawer)="closeDrawer()" />
  </ng-template>
</lib-drawer-container>
