<form class="w-[80vw] md:w-96" [formGroup]="form">
  <app-input class="mb-3" name="name" formControlName="name" label="Name"></app-input>
  <app-input
    class="mb-3"
    type="textarea"
    name="description"
    formControlName="description"
    label="Description"></app-input>
  <app-tag-input formControlName="tags" class="mb-3"></app-tag-input>
  <div class="flex justify-end gap-4 w-100 mx-auto">
    <app-button color="secondary" (click)="close()">Cancel</app-button>
    <app-button [disabled]="form.invalid" [loading]="loading()" (click)="create()">Create</app-button>
  </div>
</form>
