<table class="w-full">
  <thead>
    <tr class="flex bg-slate-200">
      @for (column of columns; track $index) {
        <th class="text-left border-b flex-1">
          {{ column.headerDef() }}
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of data(); track $index) {
      <tr class="flex mb-1">
        @for (column of columns; track $index) {
          <td class="flex-1">
            <ng-container *ngTemplateOutlet="column.templateRef; context: { $implicit: row }"></ng-container>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
