<table class="w-full">
  <thead>
    <tr class="flex bg-slate-200">
      @for (column of columns; track $index) {
        <th [class]="'text-left border-b flex-1' + 'table-header' + column.headerDef()">
          {{ column.headerDef() }}
        </th>
      }
    </tr>
  </thead>
  <tbody class="divide-y divide-slate-200">
    @for (row of data(); track $index) {
      <tr
        (click)="rowClick.emit({ event: $event, row })"
        class="flex py-0.5 hover:bg-slate-200"
        [ngClass]="{
          'bg-slate-100': $index % 2,
          'cursor-pointer': rowClick.observed
        }">
        @for (column of columns; track $index) {
          <td [class]="'flex-1 ' + 'table-col' + column.headerDef()">
            <ng-container *ngTemplateOutlet="column.templateRef; context: { $implicit: row }"></ng-container>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
