<lib-table [data]="data()" (rowClick)="goToWorkout($event.row.id)">
  <ng-template libTableColumn headerDef="Name" let-row>
    {{ row.name }}
  </ng-template>

  <ng-template libTableColumn headerDef="Description" let-row>
    {{ row.description }}
  </ng-template>

  <ng-template libTableColumn headerDef="Tags" let-row>
    @for (tag of row.tags; track $index) {
      <span class="px-2 py-0.5 bg-slate-300 rounded-lg">{{ tag }}</span>
    }
  </ng-template>

  <ng-template libTableColumn headerDef="Sets" let-row>
    {{ row.sets?.length }}
  </ng-template>
</lib-table>
